In [ ]:
from google.colab import drive
drive.mount('/gdrive')
%cd /gdrive

Mounted at /gdrive
/gdrive

## **IMPORTING IMPORTANT LIBRARIES**

In [ ]:
import numpy as np
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
% matplotlib inline
import seaborn as sns

## **IMPORTING DATASET**

In [ ]:
# read the dataset using pandas and store it as a dataframe.
covid_df = pd.read_csv("/gdrive/MyDrive/Covid Prediction AI Project/Covid prediction data.csv")
covid_df.head()

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (1,2,3,4,5) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

    test_date cough fever  ... age_60_and_above  gender test_indication
0  2020-04-30     0     0  ...             None  female           Other
1  2020-04-30     1     0  ...             None  female           Other
2  2020-04-30     0     1  ...             None    male           Other
3  2020-04-30     1     0  ...             None  female           Other
4  2020-04-30     1     0  ...             None    male           Other

[5 rows x 10 columns]

## **FEATURE ENGINEERING - HANDLING MISSING VALUES**

In [ ]:
# check is there any missing values present in the dataset.
covid_df.isnull().sum()

test_date              0
cough                  0
fever                  0
sore_throat            0
shortness_of_breath    0
head_ache              0
corona_result          0
age_60_and_above       0
gender                 0
test_indication        0
dtype: int64

IT IS CLEAR THAT THERE IS NO MISSING VALUES IN THE DATASET.

## **PRINTING ALL THE CATEGORIES IN EACH COLUMN**

In [ ]:
for col in covid_df.columns:
  print(covid_df[col].value_counts())
  print('-------------------------------------------------------------------------------------------------------')

2020-04-20    10921
2020-04-19    10199
2020-04-22     9646
2020-04-21     9624
2020-04-16     9138
2020-04-23     8744
2020-04-01     8654
2020-04-13     8425
2020-04-02     8188
2020-04-03     8079
2020-04-17     7645
2020-04-05     7509
2020-04-30     7313
2020-04-27     7304
2020-04-15     7149
2020-03-31     7134
2020-04-24     7028
2020-03-26     6663
2020-04-14     6571
2020-04-28     6334
2020-04-18     6321
2020-04-26     6131
2020-04-12     5984
2020-03-27     5963
2020-04-07     5931
2020-03-30     5915
2020-04-10     5678
2020-03-28     5602
2020-03-25     5495
2020-04-06     5368
2020-03-29     5277
2020-04-04     5145
2020-04-25     5052
2020-03-24     4735
2020-04-09     4539
2020-04-11     4341
2020-04-29     4259
2020-04-08     4058
2020-03-22     3565
2020-03-23     3494
2020-03-19     2243
2020-03-18     1991
2020-03-20     1870
2020-03-21     1648
2020-03-17     1463
2020-03-16     1304
2020-03-15      985
2020-03-13      686
2020-03-12      634
2020-03-14      609
2020-03-11      294
Name: test_date, dtype: int64
-------------------------------------------------------------------------------------------------------
0       121649
0       114719
1        25875
1        16353
None       252
Name: cough, dtype: int64
-------------------------------------------------------------------------------------------------------
0       133942
0       122902
1        13582
1         8170
None       252
Name: fever, dtype: int64
-------------------------------------------------------------------------------------------------------
0       260664
0        16257
1         1480
1          446
None         1
Name: sore_throat, dtype: int64
-------------------------------------------------------------------------------------------------------
0       261079
0        16191
1         1065
1          512
None         1
Name: shortness_of_breath, dtype: int64
-------------------------------------------------------------------------------------------------------
0       260079
0        16354
1         2065
1          349
None         1
Name: head_ache, dtype: int64
-------------------------------------------------------------------------------------------------------
negative    260227
positive     14729
other         3892
Name: corona_result, dtype: int64
-------------------------------------------------------------------------------------------------------
None    127320
No      125703
Yes      25825
Name: age_60_and_above, dtype: int64
-------------------------------------------------------------------------------------------------------
female    130158
male      129127
None       19563
Name: gender, dtype: int64
-------------------------------------------------------------------------------------------------------
Other                     242741
Abroad                     25468
Contact with confirmed     10639
Name: test_indication, dtype: int64
-------------------------------------------------------------------------------------------------------

## **REMOVE UNNECESSARY DATA **

REMOVE 'OTHER' CATEGORY IN CORONA RESULT COLUMN.

In [ ]:
other_indexes = covid_df[covid_df['corona_result']=='other'].index
other_indexes

Int64Index([    67,    437,    883,   1101,   1580,   1635,   1684,   1931,
              2367,   3082,
            ...
            278106, 278224, 278559, 278583, 278609, 278625, 278694, 278710,
            278796, 278846],
           dtype='int64', length=3892)

In [ ]:
covid_df.drop(other_indexes,inplace=True)

In [ ]:
covid_df.corona_result.value_counts()

negative    260227
positive     14729
Name: corona_result, dtype: int64

In [ ]:
for col in covid_df.columns:
  print(covid_df[col].value_counts())
  print('-------------------------------------------------------------------------------------------------------')

2020-04-20    10815
2020-04-19    10119
2020-04-21     9483
2020-04-22     9422
2020-04-16     9066
2020-04-01     8585
2020-04-23     8539
2020-04-02     8107
2020-04-03     7993
2020-04-13     7900
2020-04-05     7451
2020-04-17     7436
2020-04-30     7269
2020-04-27     7247
2020-03-31     7080
2020-04-15     7066
2020-04-24     6985
2020-04-14     6491
2020-03-26     6481
2020-04-28     6267
2020-04-18     6253
2020-04-26     6078
2020-04-07     5897
2020-04-12     5888
2020-03-30     5862
2020-03-27     5809
2020-04-10     5611
2020-03-28     5518
2020-03-25     5411
2020-04-06     5341
2020-03-29     5216
2020-04-04     5088
2020-04-25     5029
2020-03-24     4670
2020-04-09     4523
2020-04-11     4277
2020-04-29     4231
2020-04-08     4020
2020-03-22     3528
2020-03-23     3445
2020-03-19     2222
2020-03-18     1957
2020-03-20     1853
2020-03-21     1639
2020-03-17     1429
2020-03-16     1265
2020-03-15      891
2020-03-13      682
2020-03-12      630
2020-03-14      605
2020-03-11      286
Name: test_date, dtype: int64
-------------------------------------------------------------------------------------------------------
0       119702
0       113431
1        25547
1        16024
None       252
Name: cough, dtype: int64
-------------------------------------------------------------------------------------------------------
0       131874
0       121455
1        13375
1         8000
None       252
Name: fever, dtype: int64
-------------------------------------------------------------------------------------------------------
0       257090
0        15973
1         1458
1          434
None         1
Name: sore_throat, dtype: int64
-------------------------------------------------------------------------------------------------------
0       257500
0        15906
1         1048
1          501
None         1
Name: shortness_of_breath, dtype: int64
-------------------------------------------------------------------------------------------------------
0       256508
0        16064
1         2040
1          343
None         1
Name: head_ache, dtype: int64
-------------------------------------------------------------------------------------------------------
negative    260227
positive     14729
Name: corona_result, dtype: int64
-------------------------------------------------------------------------------------------------------
None    125664
No      123867
Yes      25425
Name: age_60_and_above, dtype: int64
-------------------------------------------------------------------------------------------------------
female    128541
male      127370
None       19045
Name: gender, dtype: int64
-------------------------------------------------------------------------------------------------------
Other                     239404
Abroad                     25074
Contact with confirmed     10478
Name: test_indication, dtype: int64
-------------------------------------------------------------------------------------------------------

## **REMOVE NONE CATEGORY IN A COLUMN**

In [ ]:
# create a function to remove none category in a column
def remove_none(col):
  indexes = covid_df[covid_df[col]=='None'].index
  return indexes

In [ ]:
cough_none = remove_none('cough')
covid_df.drop(cough_none,inplace=True)

In [ ]:
fever_none = remove_none('fever')
covid_df.drop(fever_none,inplace=True)

In [ ]:
sorethroat_none = remove_none('sore_throat')
covid_df.drop(sorethroat_none,inplace=True)

In [ ]:
breathing_none = remove_none('shortness_of_breath')
covid_df.drop(breathing_none,inplace=True)

In [ ]:
headache_none = remove_none('head_ache')
covid_df.drop(headache_none, inplace=True)

In [ ]:
for col in covid_df.columns:
  print(covid_df[col].value_counts())
  print('-------------------------------------------------------------------------------------------------------')

2020-04-20    10815
2020-04-19    10119
2020-04-21     9483
2020-04-22     9422
2020-04-16     9066
2020-04-01     8583
2020-04-23     8539
2020-04-02     8077
2020-04-13     7900
2020-04-03     7853
2020-04-05     7450
2020-04-17     7436
2020-04-30     7269
2020-04-27     7247
2020-03-31     7079
2020-04-15     7066
2020-04-24     6985
2020-04-14     6491
2020-03-26     6478
2020-04-28     6267
2020-04-18     6253
2020-04-26     6078
2020-04-07     5897
2020-04-12     5888
2020-03-30     5861
2020-03-27     5809
2020-04-10     5611
2020-03-28     5517
2020-03-25     5407
2020-04-06     5341
2020-03-29     5211
2020-04-04     5035
2020-04-25     5029
2020-03-24     4670
2020-04-09     4523
2020-04-11     4277
2020-04-29     4231
2020-04-08     4020
2020-03-22     3528
2020-03-23     3443
2020-03-19     2222
2020-03-18     1957
2020-03-20     1852
2020-03-21     1637
2020-03-17     1426
2020-03-16     1264
2020-03-15      890
2020-03-13      682
2020-03-12      629
2020-03-14      605
2020-03-11      284
Name: test_date, dtype: int64
-------------------------------------------------------------------------------------------------------
0    119702
0    113431
1     25545
1     16024
Name: cough, dtype: int64
-------------------------------------------------------------------------------------------------------
0    131873
0    121455
1     13374
1      8000
Name: fever, dtype: int64
-------------------------------------------------------------------------------------------------------
0    256849
0     15965
1      1456
1       432
Name: sore_throat, dtype: int64
-------------------------------------------------------------------------------------------------------
0    257259
0     15897
1      1046
1       500
Name: shortness_of_breath, dtype: int64
-------------------------------------------------------------------------------------------------------
0    256270
0     16055
1      2035
1       342
Name: head_ache, dtype: int64
-------------------------------------------------------------------------------------------------------
negative    260008
positive     14694
Name: corona_result, dtype: int64
-------------------------------------------------------------------------------------------------------
None    125659
No      123668
Yes      25375
Name: age_60_and_above, dtype: int64
-------------------------------------------------------------------------------------------------------
female    128413
male      127255
None       19034
Name: gender, dtype: int64
-------------------------------------------------------------------------------------------------------
Other                     239167
Abroad                     25068
Contact with confirmed     10467
Name: test_indication, dtype: int64
-------------------------------------------------------------------------------------------------------

## **REPLACE 0 AND 1 IN A COLUMN.**
Since there are 2 zeros and 2 ones totally 4 categories in a dataset. We want only one 0 and one 1.

In [ ]:
# create a function to replace two zeros and two ones with one 0 and one 1.
def replace_zero_one(col):
 covid_df[col].replace(to_replace=0,value=0, inplace=True)
 covid_df[col].replace(to_replace=1,value=1, inplace=True)
 covid_df[col].replace(to_replace='0',value=0, inplace=True)
 covid_df[col].replace(to_replace='1',value=1, inplace=True)

In [ ]:
replace_zero_one('cough')
covid_df.cough.value_counts()

0    233133
1     41569
Name: cough, dtype: int64

In [ ]:
replace_zero_one('fever')
covid_df.fever.value_counts()

0    253328
1     21374
Name: fever, dtype: int64

In [ ]:
replace_zero_one('sore_throat')
covid_df.sore_throat.value_counts()

0    272814
1      1888
Name: sore_throat, dtype: int64

In [ ]:
replace_zero_one('shortness_of_breath')
covid_df.shortness_of_breath.value_counts()

0    273156
1      1546
Name: shortness_of_breath, dtype: int64

In [ ]:
replace_zero_one('head_ache')
covid_df.head_ache.value_counts()

0    272325
1      2377
Name: head_ache, dtype: int64

In [ ]:
# replace None with Other in Gender.
covid_df.gender.replace(to_replace='None',value='Other',inplace=True)
covid_df.gender.value_counts()

female    128413
male      127255
Other      19034
Name: gender, dtype: int64

In [ ]:
# replace None with No in age above 60.
covid_df.age_60_and_above.replace(to_replace='None',value='No',inplace=True)
covid_df.age_60_and_above.value_counts()

No     249327
Yes     25375
Name: age_60_and_above, dtype: int64

#**ONE HOT ENCODING**

Applying one hot encoding to corona result column.

In [ ]:
# by using pandas get_dummies we can perform one hot encoding for corona result column
result_dummies = pd.get_dummies(covid_df['corona_result'])

        negative  positive
0              1         0
1              1         0
2              1         0
3              1         0
4              1         0
...          ...       ...
278842         1         0
278843         1         0
278844         1         0
278845         0         1
278847         1         0

[274702 rows x 2 columns]

In [ ]:
result_dummies.drop(columns=['negative'],inplace=True)

In [ ]:
result_dummies.columns = ['Result']

In [ ]:
result_dummies

        Result
0            0
1            0
2            0
3            0
4            0
...        ...
278842       0
278843       0
278844       0
278845       1
278847       0

[274702 rows x 1 columns]

In [ ]:
covid_df = pd.concat([covid_df,result_dummies],axis=1)

In [ ]:
covid_df.drop(columns=['corona_result'],inplace=True)

Apply one hot encoding to gender column.

In [ ]:
# by using pandas get_dummies we can perform one hot encoding for gender column
gender_dummies = pd.get_dummies(covid_df['gender'])

In [ ]:
gender_dummies.drop(columns=['Other'],inplace=True)
gender_dummies.columns = ['Female','Male']

In [ ]:
gender_dummies

        Female  Male
0            1     0
1            1     0
2            0     1
3            1     0
4            0     1
...        ...   ...
278842       0     0
278843       0     0
278844       0     0
278845       0     0
278847       0     0

[274702 rows x 2 columns]

In [ ]:
covid_df = pd.concat([covid_df,gender_dummies],axis=1)

In [ ]:
covid_df.drop(columns=['gender'],inplace=True)

In [ ]:
covid_df

         test_date  cough  fever  ...  Result  Female  Male
0       2020-04-30      0      0  ...       0       1     0
1       2020-04-30      1      0  ...       0       1     0
2       2020-04-30      0      1  ...       0       0     1
3       2020-04-30      1      0  ...       0       1     0
4       2020-04-30      1      0  ...       0       0     1
...            ...    ...    ...  ...     ...     ...   ...
278842  2020-03-11      0      0  ...       0       0     0
278843  2020-03-11      0      0  ...       0       0     0
278844  2020-03-11      0      0  ...       0       0     0
278845  2020-03-11      0      0  ...       1       0     0
278847  2020-03-11      0      0  ...       0       0     0

[274702 rows x 11 columns]

Apply One Hot Encoding to age above 60 column.

In [ ]:
# by using pandas get_dummies we can perform one hot encoding for gender column
age60_dummies = pd.get_dummies(covid_df['age_60_and_above'])
age60_dummies

        No  Yes
0        1    0
1        1    0
2        1    0
3        1    0
4        1    0
...     ..  ...
278842   1    0
278843   1    0
278844   1    0
278845   1    0
278847   1    0

[274702 rows x 2 columns]

In [ ]:
age60_dummies.drop(columns=['No'],inplace=True)
age60_dummies

        Yes
0         0
1         0
2         0
3         0
4         0
...     ...
278842    0
278843    0
278844    0
278845    0
278847    0

[274702 rows x 1 columns]

In [ ]:
covid_df = pd.concat([covid_df,age60_dummies],axis=1)

In [ ]:
covid_df.drop(columns=['age_60_and_above'],inplace=True)

In [ ]:
covid_df.rename(columns={"Yes": "Age above 60"},inplace=True)

Apply One Hot Encoding to test indication column.

In [ ]:
# by using pandas get_dummies we can perform one hot encoding for gender column
test_dummies = pd.get_dummies(covid_df['test_indication'])

        Abroad  Contact with confirmed  Other
0            0                       0      1
1            0                       0      1
2            0                       0      1
3            0                       0      1
4            0                       0      1
...        ...                     ...    ...
278842       0                       0      1
278843       0                       0      1
278844       0                       0      1
278845       0                       1      0
278847       0                       0      1

[274702 rows x 3 columns]

In [ ]:
test_dummies.drop(columns=['Other'],inplace=True)

In [ ]:
test_dummies

        Abroad  Contact with confirmed
0            0                       0
1            0                       0
2            0                       0
3            0                       0
4            0                       0
...        ...                     ...
278842       0                       0
278843       0                       0
278844       0                       0
278845       0                       1
278847       0                       0

[274702 rows x 2 columns]

In [ ]:
covid_df = pd.concat([covid_df,test_dummies],axis=1)
covid_df

         test_date  cough  fever  ...  Age above 60  Abroad  Contact with confirmed
0       2020-04-30      0      0  ...             0       0                       0
1       2020-04-30      1      0  ...             0       0                       0
2       2020-04-30      0      1  ...             0       0                       0
3       2020-04-30      1      0  ...             0       0                       0
4       2020-04-30      1      0  ...             0       0                       0
...            ...    ...    ...  ...           ...     ...                     ...
278842  2020-03-11      0      0  ...             0       0                       0
278843  2020-03-11      0      0  ...             0       0                       0
278844  2020-03-11      0      0  ...             0       0                       0
278845  2020-03-11      0      0  ...             0       0                       1
278847  2020-03-11      0      0  ...             0       0                       0

[274702 rows x 13 columns]

In [ ]:
covid_df.drop(columns=['test_indication','test_date'],inplace=True)

In [ ]:
covid_df

        cough  fever  sore_throat  ...  Age above 60  Abroad  Contact with confirmed
0           0      0            0  ...             0       0                       0
1           1      0            0  ...             0       0                       0
2           0      1            0  ...             0       0                       0
3           1      0            0  ...             0       0                       0
4           1      0            0  ...             0       0                       0
...       ...    ...          ...  ...           ...     ...                     ...
278842      0      0            0  ...             0       0                       0
278843      0      0            0  ...             0       0                       0
278844      0      0            0  ...             0       0                       0
278845      0      0            0  ...             0       0                       1
278847      0      0            0  ...             0       0                       0

[274702 rows x 11 columns]

## **Save the covid_df into new csv file.**

In [ ]:
covid_df.to_csv('/gdrive/MyDrive/Covid Prediction AI Project/covid_cleaned_data.csv')